<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Travel Planer App</title>
    </head>
    <body>
        <div id="app">
            <header class="header box">
                <img id="logo">
                <h1 class="title">
                    Your Easy Travel Planer
                </h1>
            </header>
            <main id="app-content">
                <section id="user-entry-data-block">
                    <form class="main_container">
                        <div class="entry_data_block">
                            <label for="country_input">Enter your destination country here <span
                                    class="required-text">(required)</span></label>
                            <input id="country_input" type="text" name="input" placeholder="enter country here">
                            <span class="input-helper">Helper Text</span>
                        </div>
                        <div class="entry_data_block">
                            <label for="place_input">Enter your destination place here <span
                                    class="required-text">(required)</span></label>
                            <input id="place_input" type="text" name="input" placeholder="enter place here">
                            <span class="input-helper">Helper Text</span>
                        </div>
                        <div class="entry_data_block">
                            <label for="days_input">Enter number of days here <span
                                    class="required-text">(required)</span></label>
                            <input id="days_input" type="number" min="1" max="16" maxlength="2" placeholder="enter number of days here">
                            <span class="input-helper">max 16 days</span>
                        </div>
                        <button id="submit_button" type="button">Submit</button>
                    </form>
                    <div id="app-data-block">
                        <label for="app-data-block">Your Result:</label>
                        <div class="info-text" style="display: block;">
                            Here will be your travel info according to your location and date.
                        </div>
                        <div id="results" style="display: none;">
                            <div id="img-container">
                                <img id="location-img" alt="Location photo">
                            </div>
                            <div id="info-container">
                                <div id="country">Your country:
                                    <div class="country-info"></div>
                                </div>
                                <div id="place">Your place:
                                    <div class="place-info"></div>
                                </div>
                                <div id="days">Your number of days:
                                    <div class="days-info"></div>
                                </div>
                                <label for="weather-container-list">Weather forecast:</label>
                                <div id="weather-container-list">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer id="footer-container">
                <label for="footer-container">This is a footer</label>
            </footer>
        </div>
    </body>
</html>
