$primary-color: #36B9CA;
$primary-font-size: 1em;
$font-stack: 'Oswald', sans-serif;

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: $primary-color;

  #app {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "entry-data" "footer";
    background-color: $primary-color;
    font-size: $primary-font-size;
    font-family: $font-stack;
    width: 100%;
    height: 100%;
    grid-row-gap: 1em;
  }
}

