@media screen and (min-device-width: 1281px) {
  form {
    grid-area: entry-data;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    padding-left: 1em;
    height: 100%;
    width: 100%;

    .entry_data_block {
      align-self: center;
      width: 75%;
    }

    button {
      width: 85%;
      align-self: center;
      margin-left: 0.5em;
    }
  }
}
