$primary-color: #green;
$secondary-color: #fff;
$shadow-color: #000;
$font-stack: 'Oswald', sans-serif;
$primary-font-size: 1em;

main {
  grid-area: entry-data;
  align-self: flex-start;

  section#user-entry-data-block {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #FFBE58;
    border-radius: 3%;
    box-shadow: 0 0 1em $shadow-color;
    height: max-content;

    #app-data-block {
      display: flex;
      flex-direction: column;
      padding-bottom: 2em;
      margin-top: 2em;
      margin-bottom: 2em;

      label {
        font-size: 1.5em;
        margin-left: 1em;
        margin-top: 1em;
        color: #000;
      }

      .info-text {
        font-size: $primary-font-size;
        color: #000;
        text-align: left;
        padding: 1em;
        font-style: italic;
        margin-left: 1em;
      }

      #results {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-left: 1em;
        color: #fff;
        width: 100%;

        #img-container {
          margin: 1em;
          object-fit: contain;
          align-self: flex-start;

          #location-img {
            width: 12em;
            height: 12em;
            padding: 0;
            margin: 0;
          }
        }

        #info-container {
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;

          #place {
            display: flex;
            flex-flow: row;
            justify-content: start;
            padding-left: 0.5em;
            margin-bottom: 1em;

            .place-info {
              text-align: start;
              padding-right: 0.5em;
              margin-left: 1em;
              font-family: $font-stack;
              font-size: $primary-font-size;
              font-style: italic;
            }
          }

          #days {
            display: flex;
            flex-flow: row;
            justify-content: start;
            padding-left: 0.5em;
            margin-bottom: 1em;

            .days-info {
              text-align: start;
              padding-right: 0.5em;
              margin-left: 1em;
              font-family: $font-stack;
              font-size: $primary-font-size;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
